<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AllegroClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AllegroClassLibrary.Properties.Settings>
            <setting name="AllegroClassLibrary_pl_allegro_webapi_AllegroWebApiService"
                serializeAs="String">
                <value>https://webapi.allegro.pl/uploader.php</value>
            </setting>
            <setting name="AllegroClassLibrary_pl_webapisandbox_pl_allegro_webapi_serviceService"
                serializeAs="String">
                <value>https://webapi.allegro.pl.webapisandbox.pl/service.php</value>
            </setting>
        </AllegroClassLibrary.Properties.Settings>
    </applicationSettings>
</configuration>